html {
    .bg-success {
        color: white !important;
    }

    .bg-primary {
        color: $white !important;
    }

    .bg-secondary {
        color: $white !important;
    }

    .bg-warning {
        color: $white !important;
    }
}
.border,
.v-divider {
    border-color: rgba(var(--v-border-color), 1) !important;
}
.v-card {
    opacity: 0.95;
}
.v-toolbar {
    opacity: 0.95;
}
.v-navigation-drawer__content {
    overflow-y: hidden;
}
.plan-trip .v-stepper-header {
    display: none;
}
